main{
	margin:0 auto; /* permet de centrer la page*/
	width: 55%;
text-align:center;
}

h1, h2 {
    text-align:center;
    margin-top:0;

}


nav
{
	width : 12%;
	border : 1px solid blue ;
	text-align:center;
    margin-right:20px;
    display: inline-block;
}
section{
    display:inline-block;
    width: 60%;
    vertical-align:top;
}
article {
    border: 1px solid blue;
    width: 45%;
    display: inline-block;
    vertical-align:top;
margin-right: 1%;

}
aside {
    border: 1px solid blue;
    width: 45%;
    display: inline-block;
    vertical-align:top;


}


footer{
 text-align:center;

}




