main{
	margin:0 auto; /* permet de centrer la page*/
	width: 65%;
text-align:center;
}

h1, h2 {
    text-align:center;
    margin-top:0;

}


nav
{
	width : 150px;
	border : 1px solid blue ;
	text-align:left;
    display: inline-block;
    vertical-align:top;
    position:relative;
    right:7%;
    margin-right:50px;
}
section {
    border: 1px solid blue;
    width: 44%;
    display: inline-block;
    vertical-align:top;
    position:relative;
    right:7%;

}


footer{
 text-align:center;

}




